<h2>Here are all of the SliceIt users currently checked in at your restaurant</h2>

<% @seatings.each do |seating| %>
  <% if seating.merchant.id == 1 %>
    <p><%= link_to "#{seating.customer.first_name} #{seating.customer.last_name}", root_path %></p>
  <% end %>
<% end %>

