<h2>Create New Bill</h2>

<table>
  <thead>
    <tr>
      <th>Menu Item</th><th>Price</th>
    </tr>
  </thead>
  <tbody>
  <% @merchant.items.each do |item| %>
    <tr class="line_item">
      <td class="item_name"><%= item.item_description %></td>
      <td class="item_price"><%= item.price.to_s %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<table id="bill">
  <thead>
    <tr>
      <th>Menu Item</th><th>Price</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
    <tr>
      <td>Total Bill:</td>
      <td id="bill_total">$0.00</td>
  </tfoot>
</table>

<div id="controls">
  <button id="clear_bill">Clear Bill</button>
  <button id="transmit_order">Send Bill to Customer</button>
  <button id="close_order">Close Out Bill</button>
</div>
<script>
  $(document).ready(function(){

    bill = new Bill();

    $(".line_item").draggable({
      helper: "clone"
    });

    $("#bill").droppable({
      accept: ".line_item",
      drop: handleDropEvent
    });

    function handleDropEvent(event, ui){
      var menuItem = ui.draggable
      $(menuItem.clone(true)).appendTo("#bill tbody");
      var name = $(menuItem).children(".item_name").text();
      var price = $(menuItem).children(".item_price").text();
      var newItem = new Item(name, price);
      bill.addItem(newItem);
      var total = bill.total();
      $("#bill_total").text("$"+total/100);
    }

   $("#clear_bill").on("click", function(){
    bill.clear();
    $("#bill tbody").empty();
    $("#bill_total").text("$0.00");
   });

  });
</script>
